# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data (Don't rename/remove this! Data should be mounted, not copied in build generally, unless small)
# For this specific "Deployment" demo, we might want to exclude raw data but keep processed? 
# No, usually we don't bake data into the image.
data/

# Notebooks
notebooks/
.ipynb_checkpoints

# VS Code
.vscode/

# Build
build/
dist/
*.egg-info/
