.Python
[Bb]in
[Ll]ib
[Ss]cripts
[Ii]nclude
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/*.zip
data/*.zip
data/docs/*

# Plots
notebooks/outputs/*

# Models and artifacts
reports/
logs/

# We want to track the production model in git (as long as <100MB)
!models/prod/
